@media only screen and (max-width: 599px) {
  /* Phần nav bar */
  .text-nav img {
    display: none;
  }
  .space {
    display: none;
  }
  .topnav {
    display: block;
  }
  #about h1,
  .personal-info-item {
    padding: 30px 0px;
  }
  .topnav a {
    justify-content: left;
    padding: 10px 30px;
    /* padding-left: 50px; */
  }
  /* Phần thông tin cá nhân */
  #about .container,
  .certificate-wrapper,
  #project .container {
    grid-template-columns: 1fr;
    padding: 15px;
  }
  .project-body {
    grid-template-columns: 1fr;
  }
  #target {
    padding-left: 0;
  }
  #target p {
    padding: 0;
  }
  .mt-40-info {
    padding: 0;
  }
  /* Phần thông tin nghề nghiệp */
  #job-info .container {
    columns: 1;
    padding: 15px;
  }
  /* Phần giải thưởng */
  #certificate .container {
    padding: 15px;
  }
  .reward-2 img {
    border: none;
    padding: 0;
  }
  #certificate .reward-2 {
    border: none;
  }

  .line,
  .vertical {
    display: none;
  }

  /* Phần dự án */
  .project-decoration {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 15px;
  }
  /* Phần footer */
  #footer .footer-hidden {
    display: none;
  }
}
