* {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
/* Bố cục */
.charter-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  margin: 20px 50px;
  padding: 20px;
  background-color: blue;
}

#goals,
#scopes {
  grid-column: 1/3;
}

#timeline {
  grid-row: 1/3;
  grid-column: 4/5;
}
/* Màu + căn lề */
/* Phần Goals */
.charter-item {
  background-color: aliceblue;
}

.charter-item .header {
  color: blue;
  margin: 0 10px;
  padding: 20px 0;
  border-bottom: 1px solid grey;
}

#goals .row {
  border-bottom: 1px solid grey;
}

.row {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.row .icon {
  font-size: 30px;
  padding: 0px 40px;
}

.row .content {
  padding: 10px;
  flex-grow: 1;
}

.charter-footer {
  padding: 40px 0;
}

#scopes .charter-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px 20px;
  gap: 50px;
}
#timeline .row {
  gap: 20px;
  margin-left: 30px;
}
#timeline .row .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b197fc;
  color: white;
  padding: 20px;
}

#timeline h2 {
  font-size: 24px;
}

#timeline .row .content {
  border-bottom: 2px dotted blue;
}

.back-btn {
  cursor: pointer;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: blue;
}

.back-btn a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
