@media only screen and (max-width: 991px) {
  /* Phần nav bar */
  .text-nav img {
    display: none;
  }
  .text-nav {
    display: none;
  }
  /* Phần thông tin cá nhân */
  #target {
    padding-left: 50px;
  }
  /* Phần thông tin nghề nghiệp */
  #job-info .container {
    /* display: flex; */
    columns: 2;
  }
  /* Phần chứng chỉ */
  #certificate .reward-1,
  #certificate .reward-2,
  #certificate .reward-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  /* Phần dự án */
  .project-decoration {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    text-align: start;
    align-items: start;
    column-gap: 10px;
  }
  .item-1 {
    grid-row: 1/-1;
  }
}
