@media only screen and (max-width: 991px) {
  .charter-wrapper {
    grid-template-columns: 1fr;
    gap: 20px 0;
  }
  #scopes {
    grid-row: 2 / 3;
  }
  #team {
    grid-row: 3 / 4;
  }
  #primary {
    grid-row: 4 / 5;
  }
  #timeline {
    grid-row: 5 / 6;
    grid-column: 1/2;
  }

  .row {
    flex-direction: column;
  }
  .row .content {
    width: 100%;
  }
  #timeline .row {
    align-items: flex-start;
  }

  #timeline .row .icon {
    margin-top: 20px;
  }
}
